.title{
    font-family: Impact;
    color: yellow;
    font-size: 30px;
}

.buttons{
    margin: auto;
    display: table;
    border: 1px solid red;
}

.bar{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}