#scumlogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
    margin-top: 7%;
    animation: pulse 1s infinite;
    /* border-radius: 90%; */
    /* width: 20em; */
}

h1{
    background-image: url("../../../assets/fire5.gif");
    background-size: 60%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 60px;
    font-weight: 900;
    font-family: Impact;
}

.comingsoon{
    text-align: center;
}

@keyframes pulse{
    from{
      box-shadow: 0 0 0 0 rgba(198, 182, 179, 0.85);
    }

    to{
      box-shadow: 0 0 0 30px rgba(201, 48, 48, 0);
    }
}

h2{
    font-size: 40px;
}

